body{
    font-size: 16px;
    margin: 0px auto;

    /*Recomendacion del cliente*/
    max-width: 1078px;
    min-width: 1078px;
}

header input{
    float: right;
    margin-right: -210px;
    margin-top: 15px;
}

header nav{
    margin-left: 220px;
}

header nav ul li{
    border-bottom: 1px solid lightgray;
    color: lightgray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 4px;
}

#granthams{
    margin-top: 25px;
    margin-left: 25px;
}

#paint{
    float: right;
}

#seccion01{
    margin-top: 60px;
    height: 318px;
}

#seccion01 article{
    display: inline-block;
    vertical-align: top;
}

#secc01art01{
    width: 60%;
    margin-left: 30px;
}

#secc01art02{
    margin-left: 50px;
    width: 30%;
}

.color-rosa{
    color: #ff0099;
}

.letra-grande{
    font-size: 3.5em;
}

.negrita{
    font-weight: bold;
}