body{
    background-color: #245d92;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}

header{
    margin: 0px 2px;
}

header > img{
    display: block;
    margin: 7px auto;
    width: 20%;
}

header nav{
    display: flex;
    justify-content: end;
}

header nav ul{
    list-style: none;
    margin-right: 30px;
}

header nav ul li img{
    width: 100%;
}

main{
    margin: 0px 2px;
    vertical-align: top;
}

#content{
    background-color: white;
    display: inline-block;
    padding: 20px;
    width: 69%;
}

#cubes > span{
    display: block;
    margin-left: 5px;
    margin-bottom: 8px;
}

#cubo01{
    background-color: #19a820;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    max-width: 22%;
}

#cubo01 img{
    display: block;
    margin: 0px auto;
    max-width: 40%;
}

#cubo01 span{
    max-height: fit-content;
    overflow: hidden;
}

#cubo02{
    background-color: #1b6da9;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    max-width: 22%;
}

#cubo02 img{
    display: block;
    margin: 0px auto;
    max-width: 40%;
}

#cubo02 span{
    max-height: fit-content;
    overflow: hidden;
}

#cubo03{
    background-color: #7f1aa7;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    max-width: 20%;
}

#cubo03 img{
    display: block;
    margin: 0px auto;
    max-width: 40%;
}

#cubo03 span{
    max-height: fit-content;
    overflow: hidden;
}

#cubo04{
    background-color: #a71a19;
    border-radius: 5px;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    max-width: 20%;
}

#cubo04 img{
    display: block;
    margin: 0px auto;
    max-width: 40%;
}

#cubo04 span{
    max-height: fit-content;
    overflow: hidden;
}

#links{
    background-color: #1e4972;
    color: white;
    margin-bottom: 25px;
}

#links img{
    width: 100%;
}

#links ul{
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 1px;
}

#links ul li{
    margin-bottom: 7px;
}

#noti{
    display: inline-block;
    width: 100px;
}

#mess{
    display: inline-block;
    width: 80px;
}

#panels{
    margin: 10px 0px;
}

#panels > span{
    margin-bottom: 10px;
}

#panels article img{
    width: 100%;
}

#progress{
    background-color: white;
}

#progress > div{
    background-color: #245d92;
    color: white;
    padding: 3px 0px;
    margin-bottom: 5px;
}

#progress > div img{
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: middle;
    width: 10%;
}

#progress > img{
    margin-bottom: 7px;
    max-width: 100%;
}

#progress > span{
    margin-top: 7px;
    margin-left: 7px;
}

#sett{
    display: inline-block;
    width: 70px;
}

#sidebar{
    display: inline-block;
    margin: 0px 15px;
    vertical-align: top;
    width: 23%;
}

#users > span{
    display: block;
    margin: 5px 0px;
}

#users article{
    background-color: #4a6aae;
    display: inline-block;
    height: 160px;
    text-align: center;
    padding: 8px 10px;
    vertical-align: top;
    width: 21%;
}

#users article img{
    display: block;
    margin: 0px auto;
    width: 70%;
}

#users article span{
    display: block;
    margin: 4px 0px;
}

#users article input{
    background-color: #5ac0de;
    border: 1px solid #5ac0de;
    border-radius: 2px;
    color: white;
    display: block;
    padding: 5px 10px;
    margin: 4px auto;
}

#user1 img{
    width: 75% !important;
}

.bg-gris{
    background-color: #efefef;
}

.letra-gris{
    color: #919191;
}

.letra-blanca{
    color: white;
}

.letra-pequeña{
    font-size: 0.8em;
}

.letra-grande{
    font-size: 1.3em;
}